.nav {
    display: flex;

    &__item {
        @include font(16px, 52px, 500);
        padding-right: 58px;

        @media all and (max-width: 1000px) {
            padding-right: 48px;
        }

    }

    &__link {
        text-decoration: none;
        color: $color-white;
        transition: 0.5s;

        &.active {
            background: $color-orange-grad;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }

        &:hover {
            color: $color-orange;
        }
    }
}

