.testimonials {
    padding: 140px 0 180px;
    background: url(../assets/images/leav_foto.png), $color-white;
    background-position: right bottom -130px;
    background-repeat: no-repeat;

    @media all and (max-width: 1200px) {
        padding: 100px 30px 140px;
        background: url(../assets/images/leav_1000.png), $color-white;
        background-position: right bottom -85px;
        background-repeat: no-repeat;
    }

    @media all and (max-width: 760px) {
        background: url(../assets/images/leav_mini.png), $color-white;
        background-position: right bottom -70px;
        background-repeat: no-repeat;
    }

    @media all and (max-width: 960px) {
        padding: 60px 30px 80px;
    }

    @media all and (max-width: 760px) {
        padding: 60px 20px 80px;
    }

    &__title {
        @include font(36px, 47px, 400);
        color: $color-black-blue;
        text-align: center;
        margin-bottom: 47px;

        @media all and (max-width: 1200px) {
            margin-bottom: 30px;
        }

        @media all and (max-width: 760px) {
            margin-bottom: 13px;
        }
    }

    &__reviews {
        width: 100%;
        height: 391px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 21px;

        @media all and (max-width: 1200px) {
            justify-content: center;
            column-gap: 30px;
        }
        
        @media all and (max-width: 960px) {
            flex-direction: column;
            row-gap: 15px;
            margin-bottom: 25px;
        }

        @media all and (max-width: 760px) {
            margin-bottom: 23px;
        }
    }

    &__progress {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 51.6%;
        height: 8px;
        margin: 0 auto;
        margin-bottom: 30px;
        border-radius: 5px;
        background: $color-pink-grad;
       
        @media all and (max-width: 1200px) {
            max-width: 42%;
            margin-bottom: 50px;
        }

        @media all and (max-width: 960px) {
            display: none;
        }
    }
}


.progress {

    &__content {
        width: calc(100% - 3px);
        height: 5px;
        background-color: #F5F7F6;
        border-radius: 5px;
        cursor: pointer;
    }

    &__bar {
        background-color: $color-border-link;
        border-radius: 5px;
        height: 100%;
        width: 19%;
        transition: width 0.1s linear;
    }
}

.review {
    width: 268px;
    height: 391px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: $color-pink-grad;

    @media all and (max-width: 1200px) {
        width: 293px;
        height: 391px;
    }

    @media all and (max-width: 960px) {
        width: 100%;
        height: 109px;
    }

    &__content {
        width: calc(100% - 3px);
        height: calc(100% - 3px);
        background: $color-light-grey;
        border-radius: 20px;
        padding: 13.5px 13px 18px 15.5px;
        overflow: hidden;
        box-sizing: border-box;

        @media all and (max-width: 1200px) {
            padding: 14px 21px 18px 15px;
        }

        @media all and (max-width: 960px) {
            padding: 12px 12px 6px;
        }
    }

    &__user-info {
        display: flex;
        margin-bottom: 7.5px;

        img {
            padding-right: 11px;
        }
    }

    &__user-text {
        display: flex;
        flex-direction: column;
    }

    &__text {
        @include font(15px, 18px, 300);
        color: $color-grey;  
        max-height: 309px;
        overflow: hidden;

        @media all and (max-width: 1200px) {
            max-height: 291px;
        }

        @media all and (max-width: 960px) {
            max-height: 36px;
        }
    }
}

@media all and (max-width: 1200px) {
    .review:nth-child(4) {
        display: none;
    }
}

.user-text {

    &__name {
        @include font(16px, 19px, 400);
        color: $color-black;
    }

    &__location {
        position: relative;
        @include font(15px, 18px, 300);
        color: #BDBDBD;
    }
}
