.testimonials {
    padding: 140px 0 180px;
    background: url(../assets/images/leav_foto.png), $color-white;
    background-position: right bottom -130px;
    background-repeat: no-repeat;

    @media all and (max-width: 1200px) {
        padding: 100px 30px 140px;
        background: url(../assets/images/leav_1000.png), $color-white;
        background-position: right bottom -85px;
        background-repeat: no-repeat;
    }

    @media all and (max-width: 760px) {
        background: url(../assets/images/leav_mini.png), $color-white;
        background-position: right bottom -70px;
        background-repeat: no-repeat;
    }

    @media all and (max-width: 540px) {
        background: url(../assets/images/leav_320.png), $color-white;
        background-position: right bottom -30px;
        background-repeat: no-repeat;
    }

    @media all and (max-width: 960px) {
        padding: 60px 30px 80px;
    }

    @media all and (max-width: 760px) {
        padding: 60px 20px 80px;
    }

    @media all and (max-width: 540px) {
        padding: 30px 10px 60px;
    }

    &__title {
        @include font(36px, 47px, 400);
        color: $color-black-blue;
        text-align: center;
        margin-bottom: 47px;

        @media all and (max-width: 1200px) {
            margin-bottom: 30px;
        }

        @media all and (max-width: 760px) {
            margin-bottom: 13px;
        }

        @media all and (max-width: 540px) {
            @include font(24px, 29px, 400);
            margin-bottom: 3px;
        }
    }

    &__reviews {
        position: relative;
        left: 0;
        width: 300%;
        height: 391px;
        display: flex;
        justify-content: flex-start;
        margin-bottom: 21px;
        gap: 29px;
        transition: all ease 1s;


        @media all and (max-width: 1200px) {
            margin: 0 auto 21px;
        }
        
        @media all and (max-width: 999px) {
            width: 100%;
            height: 357px;
            flex-direction: column;
            row-gap: 15px;
            margin-bottom: 40px;
            overflow: scroll;
        }

        @media all and (max-width: 760px) {
            margin-bottom: 23px;
        }

        @media all and (max-width: 320px) {
            margin-bottom: 13px;
        }
    }

    &__progress {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 51.6%;
        height: 8px;
        margin: 0 auto;
        margin-bottom: 30px;
        border-radius: 5px;
        background: $color-pink-grad;
       
        @media all and (max-width: 1200px) {
            max-width: 42%;
            margin-bottom: 50px;
        }

        @media all and (max-width: 999px) {
            display: none;
        }
    }
}

.reviews-wrapper {
    max-width: 1160px;
    overflow: hidden;
    margin: 0 auto;

    @media all and (max-width: 1200px) {
        width: 940px;
    }

    @media all and (max-width: 999px) {
        width: 100%;
    }
}

.progress-bar {
    appearance: none;
    width: calc(100% - 3px); 
    height: 5px;
    background: #F5F7F6;
    cursor: pointer;

    &::-moz-range-track,
    &::-webkit-slider-runnable-track {
        background-color: $color-border-link;
        height: 6px;
        border-radius: 5px;
    }

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        background-color: $color-border-link;
        height: 6px;
        width: 12.5%;
        border-radius: 5px;
    }
    
    &::-moz-range-thumb {
        border: none;
        appearance: none;
        background-color: $color-border-link;
        height: 6px;
        width: 19%;
        border-radius: 5px;
    }
}

.review {
    width: 268px;
    height: 391px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: $color-pink-grad;
    cursor: pointer;

    @media all and (max-width: 1200px) {
        min-width: 293px;
        height: 391px;
    }

    @media all and (max-width: 999px) {
        width: 100%;
        min-height: 109px;
    }

    &__content {
        width: calc(100% - 3px);
        height: calc(100% - 3px);
        background: $color-light-grey;
        border-radius: 20px;
        padding: 13.5px 13px 18px 15.5px;
        overflow: hidden;
        box-sizing: border-box;

        @media all and (max-width: 1200px) {
            padding: 14px 21px 18px 15px;
        }

        @media all and (max-width: 960px) {
            padding: 14px 11px 6px;
        }

        @media all and (max-width: 320px) {
            padding: 10px 12px 6px;
        }
    }

    &__user-info {
        display: flex;
        margin-bottom: 7.5px;

        img {
            padding-right: 11px;

            @media all and (max-width: 960px) {
                padding-right: 9px;
            }

            @media all and (max-width: 320px) {
                padding-right: 5px;
            }
        }
    }

    &__user-text {
        display: flex;
        flex-direction: column;
    }

    &__text {
        @include font(15px, 18px, 300);
        color: $color-grey;  
        max-height: 305px;
        overflow: hidden;

        @media all and (max-width: 1200px) {
            max-height: 290px;
        }

        @media all and (max-width: 999px) {
            max-height: 36px;
            padding-left: 5px;
        }
    }
}

.user-text {

    &__name {
        @include font(16px, 19px, 400);
        color: $color-black;
    }

    &__location {
        position: relative;
        @include font(15px, 18px, 300);
        color: #BDBDBD;
    }
}

// Modal
.modal-overlay {
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 45;

}

.modal-shown {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    position: relative;
    width: 268px;
    height: 391px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: $color-pink-grad;
    z-index: 50;
    animation: fadein .3s;

    &__content {
        width: calc(100% - 3px);
        height: calc(100% - 3px);
        background: $color-light-grey;
        border-radius: 20px;
        padding: 13.5px 13px 18px 15.5px;
        box-sizing: border-box;
    }

    &__user-info {
        display: flex;
        margin-bottom: 7.5px;
    }

    &__ava {
        width: 37px;
        height: 37px;
        margin-right: 11px;
    }

    &__text {
        @include font(15px, 18px, 300);
        color: $color-grey;  
        max-height: 309px;
        overflow: scroll;
    }

    &__button {
        position: absolute;
        top: -14px;
        right: -14px;
        width: 14px;
        height: 14px;
        background-color: transparent;
        background: url(../assets/icons/x_icon.svg);
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
        outline: none;
        border: none;
    }
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
