.watch {
    width: 100%;
    background-image: url(../assets/images/Giant_Panda.jpg);
    background-repeat: no-repeat;
    background-position: top -80px center;

    @media all and (max-width: 1000px) {
        background-image: url(../assets/images/bg_main_1000.jpg);
    }

    @media all and (max-width: 640px) {
        background-image: url(../assets/images/bg_main_640.jpg);
        background-repeat: no-repeat;
        background-position: top center;
    }

    @media all and (max-width: 320px) {
        background-image: url(../assets/images/bg_main_320.jpg);
        background-repeat: no-repeat;
        background-position: top 34px center;
    }

    &__title {
        position: relative;
        width: 500px;
        @include font(106.5px, 80px, 700);
        text-transform: uppercase;
        text-align: center;
        color: $color-white;
        margin-bottom: 60px;
        z-index: 2;

        @media all and (max-width: 1000px) {
            width: 400px;
            @include font(85px, 64px, 700);
            margin-right: 56px;
            margin-bottom: 41px;
        }

        @media all and (max-width: 760px) {
            width: 250px;
            @include font(54.3px, 40.7px, 700);
            margin: 0;
        }

        @media all and (max-width: 320px) {
            width: 128px;
            @include font(27.7px, 20.9px, 700);
        }


        &::before {
            content: '';
            display: block;
            position: absolute;
            top: -74px;
            left: -73px;
            width: 465px;
            height: 465px;
            border-radius: 50%;
            background: $color-orange-grad;
            z-index: -1;

            @media all and (max-width: 1000px) {
                top: -54px;
                left: -58px;
                width: 367px;
                height: 367px;
            }

            @media all and (max-width: 760px) {
                width: 237.6px;
                height: 237.6px;
                top: -38px;
                left: -39px;
            }

            @media all and (max-width: 320px) {
                width: 119px;
                height: 119px;
                top: -19px;
                left: -19px;
            }
        }
    }
}

.text_yellow {
    color: $color-yellow;
}
