$color-green: #4B9200;
$color-orange: #F9804B;
$color-yellow: #FFEE2E;
$color-orange-grad: #FED290;
$color-pink-grad: #FEBDAB;
$color-red: #D31414;
$color-black-blue: #333B41;
$color-grey: #767474;
$color-smoky-grey: #ABABAB;
$color-light-grey: #F1F3F2;
$color-light: #FDFDFF;

$font: 'Roboto', sans-serif;