.button {
    width: 298px;
    height: 54px;
    border: none;
    background: $color-orange-grad;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;   
}

.button_watch {
    @include font(16px, 22px, 500);
    color: $color-white;
    border-radius: 25px;
    margin-right: 99px;
}

.button_left {
    width: 62px;
    height: 62px;
    position: absolute;
    top: 443px;
    left: 0;
    border-radius: 50%;
    background: url(../assets/icons/arr_left.svg), $color-orange-grad ;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
}

.button_right {
    width: 62px;
    height: 62px;
    position: absolute;
    top: 443px;
    right: 0;
    border-radius: 50%;
    background: url(../assets/icons/arr_right.svg), $color-orange-grad ;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
}

.button_choose {
    @include font(16px, 22px, 500);
    border-radius: 25px;
    color: $color-white;
    display: block;
    margin: 0 auto;
}

.button_feed {
    @include font(16px, 22px, 500);
    color: $color-white;
    border-radius: 25px;
    display: block;
    margin: 0 auto;
}

.button_feedback {
    @include font(16px, 22px, 500);
    color: $color-white;
    border-radius: 5px;
}