.button {
    width: 298px;
    height: 54px;
    border: none;
    background: $color-orange-grad, $color-orange;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer; 
    transition: 0.5s;
    
    &:hover {
        background: $color-button-hover;
    }

    &:active {
        background-color: $color-green;
    }

    &_watch {
        @include font(16px, 22px, 500);
        color: $color-white;
        border-radius: 25px;
        margin-right: 99px;

        @media all and (max-width: 1000px) {
            margin-right: 107px;
        }

        @media all and (max-width: 760px) {
            align-self: flex-start;
            margin-top: -7px;
        }

        @media all and (max-width: 540px) {
            display: none;
        }
    }

    &_watch-mobile {
        @include font(16px, 22px, 500);
        color: $color-white;
        border-radius: 25px;
        display: none;
        margin: 0 auto 30px;

        @media all and (max-width: 540px) {
            display: block;
        }
    }

    &_choose {
        @include font(16px, 22px, 500);
        border-radius: 25px;
        color: $color-white;
        display: block;
        margin: 0 auto;
    }

    &_feed {
        @include font(16px, 22px, 500);
        color: $color-white;
        border-radius: 25px;
        display: block;
        margin: 0 auto;
    }

    &_feedback {
        @include font(16px, 22px, 500);
        color: $color-white;
        border-radius: 5px;

        @media all and (max-width: 960px) {
            display: block;
            margin: 0 auto;
        }

        @media all and (max-width: 760px) {
            width: 240px;
        }
    }

    &_donate {
        @include font(16px, 22px, 500);
        color: $color-white;
        border-radius: 5px;

        a {
            color: $color-white;
            text-decoration: none; 
        }

        @media all and (max-width: 1200px) {
            margin-left: 30px;
        }

        @media all and (max-width: 760px) {
            display: none;
        }

        @media all and (max-width: 540px) {
            display: block;
            margin: 0 auto;
        }
    }

    &_donate-mobile {
        @include font(16px, 22px, 500);
        color: $color-white;
        border-radius: 5px;
        display: none;

        a {
            color: $color-white;
            text-decoration: none; 
        }

        @media all and (max-width: 760px) {
            display: block;
        }

        @media all and (max-width: 540px) {
            display: none;
        }
    }

    &_feed-friend {
        @include font(16px, 22px, 500);
        color: $color-white;
        border-radius: 25px;
        margin-bottom: 29px;
        margin-left: 5px;
    }
}

.button_left {
    width: 62px;
    height: 62px;
    position: absolute;
    top: 443px;
    left: 0;
    border-radius: 50%;
    background: url(../assets/icons/arr_left.svg), $color-orange-grad, $color-orange;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    transition: 0.5s;

    &:hover {
        background: url(../assets/icons/arr_left.svg), $color-button-hover;
        background-position: center;
        background-repeat: no-repeat;
    }

    &:active {
        background-color: $color-green;
    }

    @media all and (max-width: 1290px) {
        top: 480px;
        left: 323px;
    }

    @media all and (max-width: 1200px) {
        top: 412px;
        left: 30.4%;
    }

    @media all and (max-width: 1000px) {
        left: 35.2%;
    }

    @media all and (max-width: 760px) {
        top: 365px;
    }

    @media all and (max-width: 640px) {
        left: 243px;
    }

    @media all and (max-width: 620px) {
        display: none;
    }
}

.button_right {
    width: 62px;
    height: 62px;
    position: absolute;
    top: 443px;
    right: 0;
    border-radius: 50%;
    background: url(../assets/icons/arr_right.svg), $color-orange-grad, $color-orange;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    transition: 0.5s;

    &:hover {
        background: url(../assets/icons/arr_right.svg), $color-button-hover;
        background-position: center;
        background-repeat: no-repeat;
    }

    &:active {
        background-color: $color-green;
    }

    @media all and (max-width: 1290px) {
        top: 480px;
        right: 323px;
    }

    @media all and (max-width: 1200px) {
        top: 412px;
        right: 30.4%;
    }

    @media all and (max-width: 1000px) {
        right: 35.2%;
    }

    @media all and (max-width: 760px) {
        top: 365px;
    }

    @media all and (max-width: 640px) {
        right: 243px;
    }

    @media all and (max-width: 620px) {
        display: none;
    }
}

.button_submit {
    width: 129px;
    height: 42px;
    @include font(16px, 22px, 400);
    color: $color-black-blue;
    background-color: $color-light-grey;
    border-radius: 5px;
    border: 1px solid $color-black-blue;
    cursor: pointer;
    margin-left: 6px;
}
