.wrapper {
    max-width: 1160px;
    margin: 0 auto;

    @media all and (max-width: 1200px) {
        max-width: 940px;
        margin: 0 auto;
    }
}

.header__wrapper {
    display: flex;
}

.watch__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 85px 0 100px;

    @media all and (max-width: 1000px) {
        padding: 43px 0 47px;
    }
}

.backstage__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 140.5px 0;

    @media all and (max-width: 1200px) {
        align-items: center;
        padding: 100px 0;
    }
}

.choose__wrapper {
    position: relative;
    max-width: 1324px;
    padding: 40px 0 100px;
    margin: 0 auto;

    @media all and (max-width: 1200px) {
        max-width: 940px;
        padding: 42px 0 140px;
    }
}

.feed__wrapper {
    background: rgba(253, 253, 255, 0.52);
    border-radius: 20px;
    padding: 41px 0 59px;

    @media all and (max-width: 1200px) {
        padding: 30px 0 50px;
    }
}

.subscription__wrapper {
    padding: 41px 0 34px;
    display: flex;
    justify-content: space-between;

    @media all and (max-width: 1000px) {
        padding-right: 32px;
    }
}

.social__wrapper {
    padding: 45px 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}


