.wrapper {
    max-width: 1160px;
    margin: 0 auto;
}

.header__wrapper {
    display: flex;
}

.watch__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 86px 0 100px;
}

.backstage__wrapper {
    display: flex;
    padding: 140px 0;
}