.wrapper {
    max-width: 1160px;
    margin: 0 auto;
}

.header__wrapper {
    display: flex;

    @media all and (max-width: 1200px) {
        padding: 0 30px;
    }

    @media all and (max-width: 760px) {
        padding: 0 20px;
        justify-content: space-between;
        align-items: center;
    }
}

.watch__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 85px 0 100px;

    @media all and (max-width: 1000px) {
        padding: 43px 30px 47px;
    }

    @media all and (max-width: 760px) {
        padding: 48px 20px 40px;
    }
}

.backstage__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 140.5px 0;

    @media all and (max-width: 1200px) {
        align-items: center;
        padding: 100px 30px;
    }

    @media all and (max-width: 760px) {
        padding: 60px 20px;
    }
}

.choose__wrapper {
    position: relative;
    max-width: 1324px;
    padding: 40px 0 100px;
    margin: 0 auto;

    @media all and (max-width: 1200px) {
        max-width: 1160px;
        padding: 42px 30px 140px;
    }

    @media all and (max-width: 999px) {
        padding: 42px 20px 140px;
    }

    @media all and (max-width: 760px) {
        padding: 20px 20px 101px;
    }
}

.feed__wrapper {
    background: rgba(253, 253, 255, 0.52);
    border-radius: 20px;
    padding: 41px 0 59px;

    @media all and (max-width: 1200px) {
        max-width: 940px;
        padding: 30px 0 50px;
    }

    @media all and (max-width: 760px) {
        padding: 10px 20px 60px;
    }
}

.subscription__wrapper {
    padding: 41px 0 34px;
    display: flex;
    justify-content: space-between;

    @media all and (max-width: 1200px) {
        padding: 41px 62px 34px 30px;
    }

    @media all and (max-width: 760px) {
        padding: 12px 20px 0;
    }

}

.social__wrapper {
    padding: 45px 0 50px;
    display: flex;
    align-items: flex-end;

    @media all and (max-width: 1200px) {
        padding: 45px 30px 50px;
    }

    @media all and (max-width: 760px) {
        padding: 40px 20px 12px;
    }
}


