@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.button {
  width: 298px;
  height: 54px;
  border: none;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  text-transform: uppercase;
  cursor: pointer;
}

.button_watch {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  border-radius: 25px;
  margin-right: 101px;
}

.wrapper {
  max-width: 1160px;
  margin: 0 auto;
}

.header__wrapper {
  display: flex;
}

.watch__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 86px 0 100px;
}

.header {
  width: 100%;
  background-color: #000000;
  padding: 14px 0;
}

.logo {
  width: 82px;
  height: 52px;
  border: 1px solid #FFFFFF;
  background-image: url(../assets/icons/bamboo.svg);
  background-position: left 10px bottom 6px;
  background-repeat: no-repeat;
  margin-right: 63px;
}

.logo__text {
  font-size: 19px;
  line-height: 26px;
  font-weight: 400;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: #FFFFFF;
}

.designed {
  margin-left: auto;
}

.designed p {
  font-size: 16px;
  line-height: 52px;
  font-weight: 500;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
}

.nav {
  display: flex;
}

.nav__item {
  font-size: 16px;
  line-height: 52px;
  font-weight: 500;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  padding-right: 58px;
}

.nav__link {
  text-decoration: none;
  color: #FFFFFF;
}

.nav__link.active {
  color: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}

.watch {
  background-image: url(../assets/images/Giant_Panda.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.watch__title {
  position: relative;
  width: 500px;
  font-size: 106.5px;
  line-height: 80px;
  font-weight: 700;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 60px;
  z-index: 2;
}

.watch__title::before {
  content: '';
  display: block;
  position: absolute;
  top: -74px;
  left: -73px;
  width: 465px;
  height: 465px;
  border-radius: 50%;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  z-index: -1;
}

.text_yellow {
  color: #FFEE2E;
}
/*# sourceMappingURL=style.css.map */