@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.button {
  width: 298px;
  height: 54px;
  border: none;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  text-transform: uppercase;
  cursor: pointer;
}

.button_watch {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  border-radius: 25px;
  margin-right: 101px;
}

.button_left {
  width: 62px;
  height: 62px;
  position: absolute;
  top: 443px;
  left: -82px;
  border-radius: 50%;
  background: url(../assets/icons/arr_left.svg), linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.button_right {
  width: 62px;
  height: 62px;
  position: absolute;
  top: 443px;
  right: -82px;
  border-radius: 50%;
  background: url(../assets/icons/arr_right.svg), linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.button_choose {
  border-radius: 25px;
  color: #FFFFFF;
  display: block;
  margin: 0 auto;
}

.button_feed {
  color: #FFFFFF;
  border-radius: 25px;
  display: block;
  margin: 0 auto;
}

.wrapper {
  max-width: 1160px;
  margin: 0 auto;
}

.header__wrapper {
  display: flex;
}

.watch__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 86px 0 100px;
}

.backstage__wrapper {
  display: flex;
  padding: 140px 0;
}

.choose__wrapper {
  position: relative;
  padding: 40px 0 100px;
}

.feed__wrapper {
  background: rgba(253, 253, 255, 0.52);
  border-radius: 20px;
  padding: 41px 0 59px;
}

.header {
  width: 100%;
  background-color: #000000;
  padding: 14px 0;
}

.logo {
  width: 82px;
  height: 52px;
  border: 1px solid #FFFFFF;
  background-image: url(../assets/icons/bamboo.svg);
  background-position: left 10px bottom 6px;
  background-repeat: no-repeat;
  margin-right: 63px;
}

.logo__text {
  font-size: 19px;
  line-height: 26px;
  font-weight: 400;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: #FFFFFF;
}

.designed {
  margin-left: auto;
}

.designed p {
  font-size: 16px;
  line-height: 52px;
  font-weight: 500;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
}

.nav {
  display: flex;
}

.nav__item {
  font-size: 16px;
  line-height: 52px;
  font-weight: 500;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  padding-right: 58px;
}

.nav__link {
  text-decoration: none;
  color: #FFFFFF;
}

.nav__link.active {
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.watch {
  background-image: url(../assets/images/Giant_Panda.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.watch__title {
  position: relative;
  width: 500px;
  font-size: 106.5px;
  line-height: 80px;
  font-weight: 700;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 60px;
  z-index: 2;
}

.watch__title::before {
  content: '';
  display: block;
  position: absolute;
  top: -74px;
  left: -73px;
  width: 465px;
  height: 465px;
  border-radius: 50%;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  z-index: -1;
}

.text_yellow {
  color: #FFEE2E;
}

.backstage {
  background-color: #FFFFFF;
  background-image: url(../assets/images/flower_foto1.png);
  background-position: right top 12px;
  background-repeat: no-repeat;
}

.backstage__image {
  width: 52.5%;
}

.backstage__image img {
  width: 100%;
  height: 100%;
}

.backstage__text {
  width: 47.5%;
  padding-left: 87px;
  text-align: left;
  color: #333B41;
}

.backstage__title {
  font-size: 48px;
  line-height: 58px;
  font-weight: 400;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
}

.backstage p {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  font-family: "Roboto", sans-serif;
}

.backstage__subtitle {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  margin-top: 54px;
  margin-bottom: 34px;
}

.choose {
  background-color: #FFFFFF;
  background: url(../assets/images/palm_foto.png) left bottom, url(../assets/images/strelitzia.png) right bottom;
  background-repeat: no-repeat;
}

.animal-cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-basis: 366px;
  flex-wrap: wrap;
  row-gap: 20px;
  margin-bottom: 80px;
}

.animal-card {
  height: 426px;
  border-radius: 5px;
  border: 1px solid #F9804B;
}

.animal-card:nth-child(1), .animal-card:nth-child(3), .animal-card:nth-child(4) {
  background: url(../assets/icons/banana-bamboo_icon.svg);
  background-position: right 18px bottom 14px;
  background-repeat: no-repeat;
}

.animal-card:nth-child(2), .animal-card:nth-child(5), .animal-card:nth-child(6) {
  background: url(../assets/icons/meet-fish_icon.svg);
  background-position: right 18px bottom 14px;
  background-repeat: no-repeat;
}

.animal-card__image {
  width: 100%;
  height: 366px;
  margin-bottom: 8px;
}

.animal-card__image img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.animal-card__title {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  color: #000000;
  text-transform: uppercase;
  padding-left: 16px;
}

.animal-card__description {
  font-size: 15px;
  line-height: 18px;
  font-weight: 300;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  color: #000000;
  padding-left: 16px;
}

.feed {
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  opacity: 0.9;
  padding-top: 69px;
  padding-bottom: 100px;
  color: #333B41;
}

.feed__title {
  font-size: 48px;
  line-height: 58px;
  font-weight: 400;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  color: #F9804B;
  text-align: center;
  margin-bottom: 30px;
}

.feed__subtitle {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  margin-bottom: 40px;
  padding-left: 99px;
}

.feed__covid {
  font-size: 16px;
  line-height: 21px;
  font-weight: 500;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  padding-left: 99px;
  margin-bottom: 10px;
}

.feed__text {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  padding-left: 99px;
  margin-bottom: 60px;
}

.feed__scheme-title {
  font-size: 36px;
  line-height: 47px;
  font-weight: 400;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-bottom: 40px;
}

.scheme {
  width: 764px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 60px;
}

.scheme__box {
  width: 168px;
}

.box__image {
  width: 100%;
  height: 168px;
  background-color: #FFFFFF;
  margin-bottom: 30px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #F9804B;
}

.box__text {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  font-style: normal;
  font-family: "Roboto", sans-serif;
}
/*# sourceMappingURL=style.css.map */